### SQL And SQLite

SQL (Structured Query language) is a standard language for managing and manipulating relational databases.
SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded
database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases,
tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## connect to sqllite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## CREATE A TABLE
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary key,
    name Text Not Null,
    age Integer,
    department  text
)
''')


## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
    INSERT INTO employees (name, age, department)
    VALUES ('Mohit', 22, 'Ml engineer')
''')

cursor.execute('''
    INSERT INTO employees (name, age, department)
    VALUES ('Naman', 16, 'Student')
''')

cursor.execute('''
    INSERT INTO employees (name, age, department)
    VALUES ('Momo', 21, 'Data-scientist')
''')


##commit 
connection.commit()

In [6]:
## query the data from sqlite3 table
cursor.execute('Select * from employees' )
rows = cursor.fetchall()

##print the quert data
for row in rows:
    print(row)

(1, 'Mohit', 22, 'Ml engineer')
(2, 'Naman', 16, 'Student')
(3, 'Momo', 21, 'Data-scientist')

In [8]:
##deleting the data from table
cursor.execute('''
Delete from employees
        where name = 'Naman'

''')

connection.commit()

In [9]:
## query the data from sqlite3 table
cursor.execute('Select * from employees' )
rows = cursor.fetchall()

##print the quert data
for row in rows:
    print(row)

(1, 'Mohit', 22, 'Ml engineer')
(3, 'Momo', 21, 'Data-scientist')

In [15]:
## WORKING WITH SALES DATA
#connect with sql database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#creating a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    data TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)               
''')

## insert data in the table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

connection.executemany('''
Insert into sales(data,product,sales,region)
             values(?,?,?,?)

''',sales_data )

connection.commit()

In [16]:
cursor.execute('SELECT * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [17]:
## connection close
connection.close()

In [19]:
## CONNECTION CLOSED SO ERROR OCCURED
cursor.execute('SELECT * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.