## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [1]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl)//2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(f"First three element: {tpl[:3]}")
print(f"2nd element to 5th element: {tpl[2:6]}")
print(f"Last three element: {tpl[-3:]}")

First three element: (1, 2, 3)
2nd element to 5th element: (3, 4, 5, 6)
Last three element: (8, 9, 10)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [10]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Matrix :")
for row in matrix:
    print(row)

print(f"Element at the 2nd row and 3rd col: {matrix[1][2]}")

Matrix :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the 2nd row and 3rd col: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [11]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)
concat = tpl1+tpl2
print(concat)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [14]:
tpl = (1,2,2,3,4,4,4,5)
print("Original list: ", tpl)
print(f"Occurence of 4: {tpl.count(4)}")
print(f"Index of first occurence of 2: {tpl.index(2)}")

Original list:  (1, 2, 2, 3, 4, 4, 4, 5)
Occurence of 4: 3
Index of first occurence of 2: 1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [15]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

1 2 3 4 5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
lst = list(range(1,6))
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [21]:
tpl_of_tpls = (
    (1,2,3),(4,5,6),(7,8,9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [2]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_str = ''.join(tpl)
print(joined_str)

('h', 'e', 'l', 'l', 'o')
hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [10]:
tpl_dict = {
    (1,2):3,
    (2,3):4,
    (3,4):5
}

for keys in tpl_dict:
    value = tpl_dict[keys]
    print(f"Key: {keys}, Value: {value}")

# print(tpl_dict)

Key: (1, 2), Value: 3
Key: (2, 3), Value: 4
Key: (3, 4), Value: 5


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [11]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nested_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [13]:
tpl = (1,2,2,2,3,4,5,5,5,5)
print("Original list: ", tpl)
unique_set = set(tpl)
print("After converting to SET: ",unique_set)

Original list:  (1, 2, 2, 2, 3, 4, 5, 5, 5, 5)
After converting to SET:  {1, 2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
def min_in_tuple(tpl):
    return min(tpl)
def max_in_tuple(tpl):
    return max(tpl)
def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1,2,3,4,5,6,7,8)
print(f"Sample tuple: {sample_tpl}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Sum of tuple: {sum_of_tuple(sample_tpl)}")

Sample tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Maximum: 8
Minimum: 1
Sum of tuple: 36